.panel{
    width: 100%;
    height: 100%;
    padding: 10px;

    display: flex;
    flex-direction: column;

    background-color: #141430;

}

.panel > header, .panel > footer{
    width: 100%;
    height: 1.5em;
}

.panel > header{
    display: flex;
    justify-content: center;
    align-items: center;
}

.panel > .content{
    flex-grow: 1;
    flex-shrink: 1;
}
