.ButtonImage{
    width: 128px;
    height: 64px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.ButtonImage img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
