.panelButton{
    background-color: white;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.panelButton > .spacer{
    height: 1rem;
    width: 100%;
}

.panelButton > .panelButtonName{
    user-select: none;
}

.panelButton .panelButtonImage {
    width:40%;
    height: 40%;
    object-fit: contain;
}
