.ButtonGroup{
    display: flex;
    flex-direction: row;
}

.ButtonGroupButtonWrapper{
    padding: 5px;
    margin-left: 3px;
    color: white;
    background-color: #1d4f00;
    box-shadow: 3px 3px 6px black;
    cursor: pointer;
}

.ButtonGroupButtonWrapper:hover {
    box-shadow: 0px 0px 2px black;
}

.Selected{
    background-color: #427e1c;
    box-shadow: 0px 0px 2px black;
}

.ButtonGroupButtonWrapper:first-child{
    margin-left: 0;

}

.ButtonGroupButtonWrapper:last-child{

}

.ButtonGroupButton{

}
