.diagram{
    width: 100%;
    height: 100%;

    min-width: 0;
    min-height: 0;
}

.gauge{
    display: flex;
    justify-content: center;
    align-items: center;
}

.GaugeDiagramController{
    width: 100%;
    height: 100%;

    /*display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.GaugeDiagramController .subData{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.GaugeDiagramController .GaugeContainer{
    width: 100px;
    height: 100px;

    min-width: 0;
    min-height: 0;

    flex-grow: 1;
    flex-shrink: 1;
}
