.PopupWrapper{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Popup{
    display: flex;
    flex-direction: column;
    padding: 8px;

    min-width: 200px;
    min-height: 100px;

    background-color: #354853;
}

.Popup>header{
    width: 100%;
    height: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Popup>header>span{
    width: 100% !important;
}

.Popup>header>div{
    display: flex;
    align-items: center;
    justify-content: center;
}
.Popup>header>div:hover{
    filter: drop-shadow(2px 2px 2px black);
    cursor: pointer;
 }

.Popup>header>span{
    font-weight: bold;
    font-size: large;
}
