.ButtonProperties{
    width: 100%;

    display: flex;
    flex-direction: column;
}

.ButtonProperties .Field{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 5px;
}

.ButtonProperties .Field span{
    width: 100px;
    align-self: center;
}

.ButtonProperties .Field .svgImg{
    width: 25px;
    height: auto;
}

.ButtonProperties .Field .scrollContent{
    overflow: auto;
    overflow-y: hidden;
    flex-grow: 1;
    flex-shrink: 1;
}

.ButtonProperties .Field .scrollContent *{
    word-break: keep-all;
    text-wrap: none;
}

.ButtonProperties .Field pre{
    display: flex;
    align-items: center;

    height: 3em;
    padding: 3px;

    font-size: small;

}
