.EditingField {
    height: 50px;
    width: 100%;

    padding: 10px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.editingButton {
    width: 100%;
    height: 100%;

    color: white;

    display: flex;
    justify-content: center;
    align-items: center;


    box-shadow: 2px 2px 7px black;

    cursor: pointer;
    user-select: none;
}

.editingButton:hover{
    box-shadow: 3px 3px 7px black;
}

.editingMode{
    background-color: #240007;
}

.notEditing{
    background-color: #0f2f01;
}


