.Sidebar {
    display: block;
    visibility: visible;

    box-sizing: border-box;

    padding: 20px;

    width: 600px;
    height: 100%;
}

.Sidebar .content{
    width: 100%;
    height: 100%;
    background-color: #535370;
}

@media (max-device-width: 1919px) {
    .Sidebar {
        visibility: collapse;
        display: none;
        margin: 0;
    }
}
