.UnitConverter{
    width: 800px;
    height: 500px;

    display: flex;
    flex-direction: column;
}

.UnitConverter > .filter{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    flex-grow: 1;
    flex-shrink: 1;

}

.UnitConverter > .filter > .filterElement{
    background-color: #02105b;
    color: white;
    padding: 10px;

    margin: 5px;

    box-shadow: 3px 3px 7px black;

    cursor: pointer;

    user-select: none;
}

.UnitConverter > .filter > .filterElement.disabled{
    background-color: #5a5a73 !important;
}

.UnitConverter > .content{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;

    flex-grow: 1;
    flex-shrink: 1;
}

.UnitConverter > .content > .Input{
    height: 100%;
    width: 50%;
    flex-grow: 1;
    flex-shrink: 1;

}

.UnitConverter > .content > .Converters{
    height: 100%;
    width: 50%;
    flex-grow: 1;
    flex-shrink: 1;

    background-color: #5a5a73;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.UnitConverter .Converters > .ConverterSelector {
    padding: 10px;
    margin: 10px;

    width: fit-content;
    height: fit-content;

    background-color: #02105b;
    color: white;

    box-shadow: 3px 3px 7px black;
}

.UnitConverter  .Converters > .ConverterSelector.active {
    background-color: #1d4f00;
}

.UnitConverter .UnitConverterOutput > table{
    border-collapse: collapse;
}

.UnitConverter .UnitConverterOutput > table td, .UnitConverter .UnitConverterOutput > table th {
    border: 1px solid white;
    padding: 10px;
}

.UnitConverter .UnitConverterOutput > table th {

}



