.App {
  width: 100%;
  height: 100%;

  background-color: #060610;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media (max-device-width: 1919px) {
  .App {
    cursor: none;
  }
}

.SidebarContainer {
  height: 100%;
  display: flex;
  flex-direction: row;
}

@keyframes darken{
  from {
    background-color: rgba(0,0,0,0);
    transform: translateZ(0)
  }
  to{
    background-color: rgba(0,0,0,1);
    transform: translateZ(0);
  }
}

.inactive {
  position: absolute;
  top: 0;
  left: 0;

  width: 1024px;
  height: 600px;


  backface-visibility: hidden;

  animation-duration: 10s;
  animation-name: darken;
  animation-fill-mode: forwards;

  cursor: none;
}
