.button{
    width: 100px;
    flex-grow: 1;

    display: flex;
    justify-content: center;
    align-items: center;


    box-shadow: 2px 2px 7px black;

    cursor: pointer;
    user-select: none;

    background-color: #02105b;
    color: white;

    margin: 10px;
    padding: 3px;

    box-sizing: border-box;
}

.button.disabled{
    background-color: gray;
}

.button:hover{
    box-shadow: 3px 3px 7px black;
}

.buttonContainer{
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;

}
