.sdpButton{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;

    min-width: 40px;

    color: white;
    background-color: #001f8d;
    box-shadow: 3px 3px 6px black;
    cursor: pointer;
}

.sdpButton:hover{
    box-shadow: 0px 0px 2px black;
    padding-top: 9px;
}

.sdpButton.abort{
    color: white;
    background-color: #690000;
}

.spdSelect{
    width: 100%;
}
