.ImageDropArea{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 70px;
    margin-bottom: 20px;

    border: 1px dashed gray;
    transition: border .24s ease-in-out;
}

.ImageDropArea span{
    width: fit-content !important;
}

.ImageSelectorUploadActions{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.ImageUploadContainer{
    padding: 20px;
    background-color: #5a5a73;
}

.ImageSelector{
    max-height: 1000px;
    max-width: 1500px;
}

.ImageSelector .existingImages{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.ImageWrapper{

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    margin: 5px;
    padding: 3px;

    cursor: pointer;
}

.ImageWrapper:hover, .ImageWrapper.selected{
    background-color: #38384e;
}

.ImageWrapper div{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    width: 150px;
    height: 150px;
}

.ImageWrapper div img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.ImageWrapper span{
    text-align: center;
}
